<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Flexbox</title>
    <link rel="stylesheet"  href="{% static 'antiquites/flexbox.css' %}">


</head>
<body>
    <section class="section intro">
  <div class="container">
    <h1>Dates clés de l'Antiquité &rarr;</h1>
  </div>
</section>

<section class="timeline">
  <ol>
    <li>
      <div>
        <time>-776</time> Dans l'Antiquité, Olympie est une sanctuaire panhellénique consacré à Zeus. Ce dernier fût honoré tous les 4 ans. Processions, prières, sacrifices et les fameux jeux olympiques régissaient le lieu sacré
      </div>
    </li>
    <li>
      <div>
        <time>-753</time> C’est Romulus qui d’après la légende a fondé Rome, sur le Mont Palatin, à côté du Tibre le 21 avril 753 avant Jésus-Christ. Pour retenir la date légendaire de la Fondation de Rome, mémorisez cette phrase: Viens un jour en avril, au moins c’est cent cinquante trois fois plus beau qu’en mai !
.
      </div>
    </li>
    <li>
      <div>
        <time>Vème siècle av.</time> SPARTE & HEGEMONIE D'ATHENES
      </div>
    </li>
    <li>
      <div>
        <time>-484 à -425</time> 1. La Pyramide de Khéops. 2. Les Jardins suspendus de Babylone. 3. La statue de Zeus à Olympie. 4. Le temple d’Artémis à Éphèse. 5. Le Mausolée d’Halicarnasse 6. Le Colosse de Rhodes. 7. Le phare d’Alexandrie
      </div>
    </li>
    <li>
      <div>
        <time>(-470 à -399), (-428 à -348), (-384 à -322)</time> SOCRATE, PLATON, ARISTOTE
      </div>
    </li>
    <li>
      <div>
        <time>-356 à -323</time>  Alexandre le Grand fut proclamé roi de Macédoine à 20 ans. Il est le fils de Philippe II de Macedoine et d’Olympia princesse molosse d’Epire, et eut Aristote comme illustre précepteur. Alexandre le Grand, au dos de son cheval Bucéphale, est surtout connu pour ses conquêtes partant de la Macédoine jusqu’aux frontières de l’Inde et de l’Asie centrale
      </div>
    </li>
    <li>
      <div>
        <time>-331</time> L’incendie de la Bibliothèque d’Alexandrie a entrainé la perte de la plus grande archive de connaissances du monde antique. Sa destruction demeure aujourd'hui encore un mystère ...
      </div>
    </li>
    <li>
      <div>
        <time>-259 à -210</time> L'un des plus grands mausolées au monde, celui de Shi Huangdi, premier empereur ayant unifié la Chine et sa muraille : Au total, sont trouvés 591 statues de guerriers, 24 de chevaux, une véritable armée ...
      </div>
    </li>
    <li>
      <div>
        <time>-58 à -51</time> Le général romain Jules César profite des querelles entre les Gaulois pour faire la conquête de tout le pays. César raconte ses campagnes dans la guerre des Gaules. Il veut ainsi se rendre célèbre à Rome ...
      </div>
    </li>
    <li>
      <div>
        <time>-49 à 96</time> LES 12 PREMIERS EMPEREURS ROMAINS : César, Auguste, Tibère, Caligula, Claude, Néron, Galba, Othon, Vitellus, Vespasien, Titus, Domitien, Nerva : ayant causés le règne absolu romain !
      </div>
    </li>
    <li>
      <div>
        <time>312</time> Constantin est le premier empereur romain à se convertir au christianisme. La légende raconte qu’il l’a fait après avoir assisté à la vue d’une croix dans le ciel avec toute son armée.
      </div>
    </li>
    <li></li>
  </ol>

  <div class="arrows">
    <button class="arrow arrow__prev disabled" disabled>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
    </button>
    <button class="arrow arrow__next">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
    </button>
  </div>
</section>


</body>
</html>